* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body,
html {
        height: 100%;
        overflow: auto;
}
#root {
        height: inherit;
}
body {
        font-family: "Outfit", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: var(--Grayish-blue);
}

:root {
        --White: hsl(0, 0%, 100%);
        --Light-gray: hsl(212, 45%, 89%);
        --Grayish-blue: hsl(220, 15%, 55%);
        --Dark-blue: hsl(218, 44%, 22%);
}
